.vscode
.DS_Store
*.pyc
*__pycache__
.idea*

config.json
secrets.json
secrets.docker.json
apps/media/*

apps/**/migrations/**
!apps/**/migrations
!apps/**/migrations/__init__.py

_datos_iniciales/unificado.sql

.coverage
coverage*
htmlcov/*
reports/
out/